<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bookstore</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
</head>
<body>

<!--   HEADER SECTION -->

<section>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <span class="fs-4">Bookstore</span>
            </a>

            <ul class="nav nav-pills">
                <li class="nav-item"><a href="/home" class="nav-link text-dark">Home</a></li>
                <li class="nav-item"><a href="/books" class="nav-link text-dark">Books</a></li>
                <li class="nav-item"><a href="/cart" class="nav-link text-dark">Cart</a></li>
            </ul>
        </header>
    </div>
</section>

<!-- PHOTOS SECTION -->
<section class="white-section" id="photo">

    <h2 class="section-heading">All books available for sale.</h2>
    <p>Buy one or more.</p>

    <div class="row">

        <!-- Book 1 -->
        <div class="photo-column col-lg-4 col-md-6">
            <div class="card">
                <img th:src="@{/images/book/1.jpg}" class="card-img-top" alt="Pamięć nieulotna - Edward Snowden">
                <div class="card-body">
                    <h5 class="card-title">49,99 PLN</h5>
                    <p class="card-text">Pamięć nieulotna - Edward Snowden</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <form action="/cart/addToCart" class="d-inline">
                            <input type="hidden" name="code" value=1>
                            <button class="btn btn-primary me-3 w-100 w-sm-auto" type="submit">Add To Cart</button>
                        </form>
                        <a th:href="@{/view/books/{id}(id=1)}">
                            <button class="btn btn-secondary w-100 w-sm-auto">View Details</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Book 2 -->
        <div class="photo-column col-lg-4 col-md-6">
            <div class="card">
                <img th:src="@{/images/book/2.jpg}" class="card-img-top"
                     alt="Wojny w cyberprzestrzeni - Chase Cunningham">
                <div class="card-body">
                    <h5 class="card-title">40 PLN</h5>
                    <p class="card-text">Wojny w cyberprzestrzeni - Chase Cunningham</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <form action="/cart/addToCart" class="d-inline">
                            <input type="hidden" name="code" value=2>
                            <button class="btn btn-primary me-3 w-100 w-sm-auto" type="submit">Add To Cart</button>
                        </form>
                        <a th:href="@{/view/books/{id}(id=2)}">
                            <button class="btn btn-secondary w-100 w-sm-auto">View Details</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Book 3 -->
        <div class="photo-column col-lg-4 col-md-6">
            <div class="card">
                <img th:src="@{/images/book/3.jpg}" class="card-img-top" alt="Indistractable - Nir Eyal">
                <div class="card-body">
                    <h5 class="card-title">55 PLN</h5>
                    <p class="card-text">Indistractable - Nir Eyal</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <form action="/cart/addToCart" class="d-inline">
                            <input type="hidden" name="code" value=3>
                            <button class="btn btn-primary me-3 w-100 w-sm-auto" type="submit">Add To Cart</button>
                        </form>
                        <a th:href="@{/view/books/{id}(id=3)}">
                            <button class="btn btn-secondary w-100 w-sm-auto">View Details</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Book 4 -->
        <div class="photo-column col-lg-4 col-md-6">
            <div class="card">
                <img th:src="@{/images/book/4.jpg}" class="card-img-top" alt="Metoda Lean Startup - Eric Ries">
                <div class="card-body">
                    <h5 class="card-title">86 PLN</h5>
                    <p class="card-text">Metoda Lean Startup - Eric Ries</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <form action="/cart/addToCart" class="d-inline">
                            <input type="hidden" name="code" value=4>
                            <button class="btn btn-primary me-3 w-100 w-sm-auto" type="submit">Add To Cart</button>
                        </form>
                        <a th:href="@{/view/books/{id}(id=4)}">
                            <button class="btn btn-secondary w-100 w-sm-auto">View Details</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Book 5 -->
        <div class="photo-column col-lg-4 col-md-6">
            <div class="card">
                <img th:src="@{/images/book/5.jpg}" class="card-img-top"
                     alt="Cyberbroń. Broń doskonała - David E. Sanger">
                <div class="card-body">
                    <h5 class="card-title">49,99 PLN</h5>
                    <p class="card-text">Cyberbroń - broń doskonała - David E. Sanger</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <form action="/cart/addToCart" class="d-inline">
                            <input type="hidden" name="code" value=5>
                            <button class="btn btn-primary me-3 w-100 w-sm-auto" type="submit">Add To Cart</button>
                        </form>
                        <a th:href="@{/view/books/{id}(id=5)}">
                            <button class="btn btn-secondary w-100 w-sm-auto">View Details</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Book 6 -->
        <div class="photo-column col-lg-4 col-md-6">
            <div class="card">
                <img th:src="@{/images/book/6.jpg}" class="card-img-top" alt="Innovators - Walter Isaacson">
                <div class="card-body">
                    <h5 class="card-title">39,99 PLN</h5>
                    <p class="card-text">Innovators - Walter Isaacson</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <form action="/cart/addToCart" class="d-inline">
                            <input type="hidden" name="code" value=6>
                            <button class="btn btn-primary me-3 w-100 w-sm-auto" type="submit">Add To Cart</button>
                        </form>
                        <a th:href="@{/view/books/{id}(id=6)}">
                            <button class="btn btn-secondary w-100 w-sm-auto">View Details</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>

<!-- Footer -->

<section>
    <footer class="white-section" id="footer">
        <div class="container-fluid">
            <i class="social-icon fab fa-facebook-f"></i>
            <i class="social-icon fab fa-twitter"></i>
            <i class="social-icon fab fa-instagram"></i>
            <i class="social-icon fas fa-envelope"></i>
            <p> &copy; Copyright 2025 by Łukasz Pokrzywka</p>
        </div>
    </footer>
</section>

</body>
</html>