<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-header bg-danger text-white">
                    <h4>Error</h4>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Something went wrong!</h5>
                    <p class="card-text">Unfortunately, we couldn't find the page you're looking for.</p>
                    <p th:if="${status != null}" class="text-muted">
                        <strong>Error Code:</strong> <span th:text="${status}"></span>
                    </p>
                    <a href="/" class="btn btn-primary">Go Back to Home</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>